
@{
    ViewBag.Title = "Simple AJAX";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Pure JavaScript AJAX", "PureJavaScriptAjax")</p>
<p>@Html.ActionLink("Simple jQuery Ajax", "SimpleJqueryAjax")</p>

